[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/surround"]
	path = _vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/command-t"]
	path = _vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "_vim/bundle/ack"]
	path = _vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "_vim/bundle/makegreen"]
	path = _vim/bundle/makegreen
	url = https://github.com/reinh/vim-makegreen
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
    ignore = untracked
[submodule "_vim/bundle/acp"]
	path = _vim/bundle/acp
	url = https://github.com/vim-scripts/AutoComplPop.git
    ignore = untracked
[submodule "_vim/bundle/tagbar"]
	path = _vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "_vim/bundle/supertab"]
	path = _vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "_vim/bundle/powerline"]
	path = _vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "_vim/bundle/vim-virtualenv"]
	path = _vim/bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "_zgen"]
	path = _zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "_vim/bundle/Vundle.vim"]
	path = _vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "powerline_fonts"]
	path = powerline_fonts
	url = https://github.com/powerline/fonts.git
